
.App{
  width: 100lvw;
  overflow-x: hidden;
  position: relative;
  background-color:  #ffffff;
}

.info{
  background-color: hsl(220, 16%, 96%);
  text-align: center;
}
.info h2, .intro h4{
  margin: 1rem;
}
.info h2{
  font-size: 2.8rem;
  font-weight: 400;
  color: #2d314d;
}
.info h3{
  font-size: 2rem;
  font-weight: 400;
  color: #2d314d;
}
.info h4{
  color: #ACACB7;
}
.mockup-image{
  
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  
}