
.App{
  width: 100lvw;
  overflow-x: hidden;
  position: relative;
  background-color:  #ffffff;
}


.mockup-image{
  
  height: auto;
  width: 100%;
}


h1{
  font-size: 3rem;
  font-weight: 400;
  color: #2d314d;
}
h2{
  font-size: 2.8rem;
  font-weight: 400;
  color: #2d314d;
}
 h3{
  font-size: 2rem;
  font-weight: 400;
  color: #2d314d;
}
h4{
  font-size: 1em;
  color: #ACACB7;
  font-weight: 400;
}
h5{
  font-size: 1em;
  font-weight: 400;
  color: #ACACB7;
}
h6{
  font-size: 0.9rem;
  font-weight: 400;
  color: #ACACB7;
}






@media only screen and (min-width: 600px) {
  
}